body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body > header,main,footer {
  padding: 10px;
}

.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav main aside"
    "footer footer footer";
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 75px 1fr 45px;
  height: 100vh;
}

header {
  background-color: darkblue;
  color: white;
  grid-area: header
}

nav {
  background-color: gray;
  grid-area: nav;
  width: 200px;
  transition: width .3s;
}

nav > div {
  padding: 10px;
}

aside > div {
  padding: 10px;
}

aside {
  background-color: darkgray;
  grid-area: aside;
  width: 200px;
  overflow-x: hidden;
  transition: width .3s;
}

main {
  background-color: white;
  grid-area: main;
  padding: 10px;
  overflow-x: hidden;
  width: auto;
}

footer {
  background-color: lightblue;
  grid-area: footer;
}

.main-panel-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}